@import "tailwindcss";
@import "@fontsource-variable/ibm-plex-sans/wght.css";
@import "@fontsource-variable/ibm-plex-sans/wght-italic.css";

@theme {
  --font-sans: "IBM Plex Sans Variable", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  #root {
    display: flex;
    height: 100dvh;
    flex-direction: column;
  }
}
